#!/bin/bash
MONGO_HOST="$${1:-127.0.0.1}"
MONGO_PORT="$${2:-27017}"
MONGO_USER="$${3:-mongoadmin}"
MONGO_PASS="$${4:-${mongo_password}}"

docker exec mongo-container mongosh -u $MONGO_USER -p $MONGO_PASS --authenticationDatabase admin --host $MONGO_HOST:$MONGO_PORT /usr/local/bin/load-generator.js
